@import "../../styles/mixins.scss";

.budgetChannel {
  --open-close-duration: 0.3s;
  --border: 1px solid rgba(178, 187, 213, 0.5);
  --inline-pad: 16px;
  --block-pad: calc(var(--inline-pad) / 2);

  border-radius: 4px;
  border: var(--border);
}
