@import "../../styles/mixins.scss";

.header {
  @include flex($direction: row, $justify: space-between, $align: flex-end);

  .instructions {
    @include flex($align: flex-start, $gap: var(--gap));

    max-width: 678px;
    --gap: 8px;

    *:first-child {
      margin-bottom: var(--gap);
    }

    .info {
      color: #99a4c2;
    }
  }

  .addButton {
    @include on-portrait {
      --offset: 20px;
      @include absolute-position($top: var(--offset), $right: var(--offset));
      @include rounded(10em);
      border-width: 3px;
      border-color: #727272;
      width: 50px;
      aspect-ratio: 1;

      span {
        display: none;
      }
    }
  }
}
