@import "../../../styles/mixins.scss";

.toggleConfig {
  .options {
    @include flex($direction: row);

    box-shadow: 0px 1px 2px 0px #e6e8f0;

    --border: 1px solid #B2BBD580;
    border: var(--border);
    @include rounded;
    background-color: #e0e4f2b9;
    width: 184px;

    .button {
      flex: 1;

      background: transparent;
      padding-block: 11px;
      border: none;

      transition: background 0.3s ease-in-out;

      &.selected {
        background: white;

        &:first-child {
          border-inline-end: var(--border);
        }

        &:last-child {
          border-inline-start: var(--border);
        }
      }
    }
  }
}
