@import '../../../styles/mixins.scss';

.budgetChannelMain {
  --main-height: 0;
  --pad: 32px;
  --block-pad: 0;

  overflow: hidden;

  max-height: var(--main-height);
  padding-inline: var(--pad);
  padding-block: var(--block-pad);

  transition: var(--open-close-duration) ease-in;
  transition-property: max-height, padding;

  @include flex($align: flex-start, $gap: 48px);

  &.open {
    --main-height: 50vh;
    --block-pad: var(--pad);
  }
}
