@import "../../layout/screens/SummaryScreen/SummaryScreen.module.scss";

.channelSummary {
  height: 64px;
  @extend :global(.summaryLineLayout);

  .channelDetails {
    @include flex($direction: row, $justify: flex-start, $gap: 16px);

    @include on-portrait {
      span {
        font-size: 0.8em;
        font-weight: 900;
        text-align: center;
      }

      .icon {
        display: none;
      }
    }
  }

  .monthValue {
    border: none;

    input {
      text-align: center;
      @include font-params;
    }

    @include on-portrait {
      padding: 0;
    }
  }
}
