@import '../../../styles/mixins.scss';

.errorScreen {
  margin-block: 14rem;
  @include center-single-element;
  @include font-params($size: 10rem);

  .reloadButton {
    border: 3px solid #313131;
    border-radius: 10rem;
    padding-inline: 4rem;
  }
}
