@mixin flex($align: center, $justify: center, $direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin absolute-position(
  $top: unset,
  $left: unset,
  $bottom: unset,
  $right: unset
) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin responsive-grid($gap: 24px, $baseSize: 10rem) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-fit, minmax(min($baseSize, 100%), 1fr));
}

@mixin center-single-element() {
  display: grid;
  place-items: center;
}

@mixin scroll($max-height: 30rem, $show-scrollbar: false, $on-portrait: false) {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: $max-height;

  @if not $show-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @if $on-portrait {
    @include on-portrait {
      max-height: $on-portrait;
    }
  }
}

@mixin font-params($size: 14px, $weight: 500) {
  font-size: $size;
  font-weight: $weight;
}

@mixin rounded($radius: 4px) {
  border-radius: $radius;
}

@mixin equal-manual-colors(
  $equal: var(--enabled-input-color),
  $manual: var(--disabled-input-color)
) {
  &:global(.equal) {
    input {
      color: $equal;
    }
  }

  &:global(.manual) {
    input {
      color: $manual;
    }
  }
}

@mixin on-portrait() {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin scrollable-grid($columns: 10, $min-width: 1fr) {
  display: grid;
  grid-template-columns: calc(3 * $min-width) repeat($columns - 1, $min-width);
  overflow-x: scroll;

  & > * {
    // top row
    &:nth-child(-n + #{$columns}) {
      position: sticky;
      top: 0;
    }

    // first column
    &:nth-child(#{$columns}n + 1) {
      background-color: white;
      position: sticky;
      left: 0;
      border-inline-end: 1px solid #b2bbd5;
      border-top-right-radius: 0;
      width: 100%;
    }

    // top left cell
    &:first-child {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      place-items: center start;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --enabled-input-color: #2a3558;
  --disabled-input-color: #99a4c2;
}
