@mixin flex($align: center, $justify: center, $direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin absolute-position($top: unset, $left: unset, $bottom: unset, $right: unset) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}