@import "../../styles/mixins.scss";

.appearingCard {
  @include absolute-position(
    $top: var(--top),
    $left: var(--left),
    $bottom: var(--bottom),
    $right: var(--right)
  );

  background-color: white;
  border: 1px solid rgba(178, 187, 213, 0.5);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 1;

  animation: menu-appear 0.7s ease-in-out forwards;

  --full-size: var(--size, 160px);
  --pad: 5px;
  @keyframes menu-appear {
    0% {
      width: 0;
      max-height: 0;
      padding: var(--pad) 0;
    }
    65% {
      width: var(--full-size);
      max-height: 0;
      padding-inline: var(--pad);
    }
    100% {
      width: var(--full-size);
      max-height: var(--full-size);
      padding: var(--pad);
    }
  }
}
