@import "../../../../styles/mixins.scss";

.budgetChannelBreakdown {
  @include flex($align: flex-start, $gap: 24px);
  width: 75%;
  background-color: rgb(198 204 220 / 50%);
  border: 1px solid #b2bbd580;
  padding: 24px;

  .text {
    @include flex($align: flex-start, $gap: 8px);

    .instructions {
      color: #99a4c2;
    }
  }

  .breakdown {
    width: 100%;
    @include responsive-grid;
  }
}
