@import "../../../styles/mixins.scss";

.summaryScreen {
  margin-inline: var(--margin);
  max-height: var(--max-grid-height);

  @include scrollable-grid($columns: 13, $min-width: var(--min-col-width));

  --max-grid-height: 38rem;
  --min-col-width: 10rem;
  --margin: 40px;

  @include on-portrait {
    --margin: 0;
    --min-col-width: 45px;
    --max-grid-height: 20rem;
  }
}
