@import "../../../styles/mixins.scss";

.budgetChannelHeader {
  --indicator-rotation: -90deg;
  padding: 8px 16px;
  background-color: #f6f7fb;
  border-radius: 4px;

  @include flex(
    $direction: row,
    $align: center,
    $justify: flex-start,
    $gap: 12px
  );

  .indicator {
    margin-inline-end: 15px;
    transform: rotate(var(--indicator-rotation));
    transition: transform var(--open-close-duration) ease-in;
  }

  .name {
    background-color: transparent;
    border: none;

    font-size: 14px;
    font-weight: 500;

    &:has(:focus) {
      background-color: white;
      outline: 1px solid #b2bbd580;
    }
  }

  .menu {
    margin-inline-start: auto;
  }

  &.open {
    border-bottom: var(--border);
    --indicator-rotation: 0;
  }
}
